{% extends 'adminpanel/dashboard.html' %}
{% block title %}{% endblock %}


{% block content %}   
<h2 class="text-center mb-5">Category List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Category name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{category.id}}</td>
            <td>{{category.name}}</td>
            <td>{{category.description}}</td>
        </tr>
        
        {% empty %}
            <tr>
                <td colspan="3">No categories available.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'adminpanel:add_category'%}" class="btn btn-primary">Add Category</a>
{% endblock%}